@import "./base.css";

#app {
  max-width: 1080px;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  & > header,
  & > main,
  & > footer {
    margin: 0.5rem;
  }
}

main > header {
  color: rgb(20, 150, 20);
  font-size: 1.5rem;
  font-weight: bold;
}

:is(h1, h2, h3) {
  margin-block-start: 3rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  color: royalblue;
  text-decoration: none;

  &:hover {
    color: navy;
    text-decoration: underline;
  }
}

fieldset.board {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-background-wrapper);

  & > legend {
    border: 1px solid var(--color-border);
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.65rem;
    /*background-color: rgb(20, 150, 20);*/
    /*color: white;*/
    background-color: white;
    color: black;
    padding-inline: 0.5rem;
  }
}

table {
  border-collapse: collapse;
  white-space: nowrap;

  & :is(th, td) {
    padding-inline: 1.5rem;
  }

  & > thead th {
    text-align: start;
    background-color: rgb(100, 100, 100);
    color: white;
  }

  & > tbody > tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
  }

  & .meta {
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
  }

  & .number {
    text-align: end;
  }

  & > caption {
    text-align: start;
    font-weight: bold;
    margin-block-end: 1rem;
  }
}

ul {
  & li {
    margin-block: 1rem;

    &.todo {
      font-weight: bold;
      color: red;
      list-style: "â“";
    }
  }
}

.note {
  color: rgb(150, 150, 150);
  font-size: 0.9rem;
  &:before {
    content: "Note: ";
  }
}

.error-message {
  font-weight: bold;
  color: red;
}

div:has(> blockquote) {
  margin-block-end: 2rem;

  & > blockquote {
    color: green;
    margin-inline: 2rem;
    margin-block: unset;
  }

  & > div.who {
    color: darkgray;
    font-size: 0.85rem;
    margin-inline: 4rem;
  }
}
